footer {
  position: absolute;
  bottom: 33px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  max-width: 1125px;
  margin: 0 auto;
}

footer h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #212121;
}
