.wrap {
  display: grid;
  width: 1125px;
  grid-template-columns: repeat(3, 1fr);
  margin: 60px auto 0;
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  margin: 73px 0 34px;

  text-align: center;
  letter-spacing: 3px;

  color: #000000;
}

.search {
  width: 1088px;
  margin: 0 auto;
  display: block;
  height: 53px;
  background: #f2f2f2;
  box-shadow: 4px 4px 16px rgba(1, 28, 64, 0.2);
  border-radius: 40px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-left: 30px;

  color: rgba(33, 33, 33, 0.8);
}
