.wrap {
  display: grid;
  width: 1125px;
  grid-template-columns: repeat(3, 1fr);
  margin: 60px auto 0;
}

.title {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 41px;
  margin: 73px 0 34px;

  text-align: center;
  letter-spacing: 3px;

  color: #000000;
}
